- const scrollToTop = `#services`

- 
    const itemsInfo = [
        {
            img1: 'assets/img/services-img1.jpg',
            img2: 'assets/img/services-img2.jpg',
            title1: 'Energy Management',
            title2: 'Telecommunication Towers Installation',
            color1: '#00cbff',
            color2: '#65ccae',
        },
        {
            img1: 'assets/img/services-img3.jpg',
            img2: 'assets/img/services-img4.jpg',
            title1: 'Steel and Civil Work',
            title2: 'Transmission Network',
            color1: '#f37a2c',
            color2: '#65ccae',
        },
        {
            img1: 'assets/img/services-img5.jpg',
            img2: 'assets/img/services-img6.jpg',
            title1: 'Fiber Optic Cable infrastructure development and support',
            title2: 'Performance Monitoring and Optimisation',
            color1: '#00cbff',
            color2: '#f37a2c',
        },
    ]

doctype html
html(lang="en")
    head
        include layout/_head
    body 
        include layout/_header
        main
            section.services.container(id='services')
                .services__top
                    .links
                        a(href="index.html") Home
                        a Services
                .services__items
                    each val in itemsInfo
                        .item
                            .item__left 
                                .text 
                                    h2=val.title1
                                    a.animated-button.text__button(href="" style=`color: ${val.color1}`)
                                        span Wiev more 
                                        .around(style=`border: 3px solid ${val.color1}`)
                                    .text__hover.ui-box.top-rightStart-backward(style=`--color:${val.color1}`)
                                        span.ui-border-element
                            .item__right 
                                img(src=val.img1, alt="")
                            h2.hidden=val.title1
                            .hidden-container
                        .item.item--reverse
                            .item__left 
                                .text 
                                    h2=val.title2
                                    a.animated-button.text__button(href="" style=`color: ${val.color2}`)
                                        span Wiev more 
                                        .around(style=`border: 3px solid ${val.color2}`)
                                    .text__hover.ui-box.top-leftStart-backward(style=`--color:${val.color2}`)
                                        span.ui-border-element
                            .item__right 
                                img(src=val.img2, alt="")
                            h2.hidden=val.title2
                            .hidden-container
                    a.services__button.animated-button
                        span View more services
                        .around
        include layout/_consultation
        include layout/_footer
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        script(src='assets/js/servicesPage.js')

